# Ignore bundler config.
/backend/.bundle

# Ignore all logfiles and tempfiles.
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep

# Ignore uploaded files in development
/backend/storage/*
!/backend/storage/.keep

/backend.byebug_history

# Ignore master key for decrypting credentials and more.
/backend/config/master.key

# ignore env
/backend.env


/frontend/.DS_Store
/frontend/node_modules/
/frontend//dist/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend//test/unit/coverage/
/frontend//test/e2e/reports/
/frontend/selenium-debug.log